@import '../../scss/mixins';
@import '../../scss/placeholders';
@import '../../scss/variables';

.FeatureInfo{    
  @include dflex(row,space-between,center);    
  width: 100%;
  background-color: wheat;      
  margin: 0 0 40px;
  @media screen and (max-width:1095px){
    @include dflex(column, center, center, 20px);  
  }
}

.featureInfoTitle{
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  @media screen and (max-width:1200px){
    font-size: 1.8rem;    
    letter-spacing: 1.8px;
  }
}

.featureInfoItem{    
  @include dflex(column,center,center,20px);      
  @extend %shadow;  
  width: 280px;
  height: 180px;
  @media screen and (max-width:1200px){
    width:200px;
    height: 150px;
    gap: 10px;
  }
}

.featureInfoMoney{
  @include dflex(row, space-between, center);
  width: 70%;  
}

.money{
  font-size: 3rem;
  font-weight: 600;
  @media screen and (max-width:1200px){
    font-size: 2.2rem;    
    font-weight: 400;
  }
}

.rate{
  font-size: 1rem;
  @include dflex(row,center, center,10px)

}

.rateRed{
  color: red;
}

.rateGreen{
  color: green;
}

.comparedText{
  color:gray;
  font-style: italic;
  text-align: center;
}