@import '../../scss/mixins';
@import '../../scss/placeholders';

.widgetLg{
  flex: 2;
  @extend %shadow;
}

.widgetLgTitle{
  margin: 0 0 20px;
}

.widgetLgTable{
  width:100%;
  border-spacing: 20px;
  tr{
    text-align: left;
    margin: 10px 0;    
    td{
      text-align: left;
      .wgBtn{
        display: block;
        width: 100px;        
        text-align: center;
        @media screen and (max-width:768px){
          width:60px;
          font-size: 9px;
        }
      }
    }
  }
  @media screen and (max-width:768px){
    font-size: 10px;
  }
}

.wgTdImage{
  @include dflex(row, flex-start,center, 10px);
  img{
    @include circle(40px, 40px);
    object-fit: cover;
  }
  @media screen and (max-width:768px){
    flex-direction: column;
  }
}
.dateCell{
  @media screen and (max-width:768px){
    font-size: 10px;
    width:60px;
  }
}

.Pending{
  @include btnHover(blue,white,blue,transparent,blue,2px,5px, 10px );
}

.Approuved{
  @include btnHover(teal,white,teal,transparent,teal,2px,5px, 10px );
}

.Rejected{
  @include btnHover(red,white,red,transparent,red,2px,5px, 10px );
}
