@import '../../scss/placeholders';
@import '../../scss/variables';
@import '../../scss/mixins';

.sidebar{
  flex:1;
  //@extend %full-container;    
  background-color: $second-color;
  padding: 30px 0;
  position: sticky;
  top:50px;
  height:calc(100vh - 50px);
  @media screen and (max-width: 768px){
   width:40px;   
   text-align: center;
   padding: 5px;
  }
}

.menuIcon{
  color:white;
  display: none;
  @media screen and (max-width: 768px){
    display: inline-block;    
    margin: 0 0 20px;
    font-size: 14px;
  }
}

.sideBarItem{
  padding: 0 10px;  
    .sideBarItemTitle{
      @include dflex(row, space-between, center);      
      border:1px solid white;
      border-radius: 20px;
      padding: 5px 15px;
      color: whitesmoke;
      @media screen and (max-width: 768px){
        @include dflex(row,center, center);      
      }
    }
  @media screen and (max-width: 768px){
    padding: 0;
  }
}
.title{
  @include dflex(row,flex-start,center,10px);
  @media screen and (max-width: 768px){
    @include dflex(row,center,center,0);    
  }
  .iconTitle{
    font-size: 14px;
  }
  .theTitle{
    @media screen and (max-width: 768px){
      display: none;   
    }
  }
}

.arrowSlide{  
  @include hoverEffect($second-color,white,$second-color, $fourth-color);  
  @media screen and (max-width: 768px){
    display: none;   
  }
}
.menu{
  @include dflex(column,flex-start,flex-start);
  list-style-type: none;  
  transition: $transition;
  margin: 10px 0;
  padding: 0 30px;
  background-color: $second-color;  
  height:0;
  overflow:hidden;
  @media screen and (max-width: 768px){
    padding: 5px;    
  }
}
.menuItem{
  color:$fourth-color;
  cursor: pointer;
}

.active{  
  height: 100%;
}
